<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBillingDataManagementService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IBillingDataManagementService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testing.heartlandpaymentservices.net/BillingDataManagement/v3/BillingDataManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingDataManagementService"
                contract="HeartlandServiceReference.IBillingDataManagementService"
                name="BasicHttpBinding_IBillingDataManagementService" />
        </client>
    </system.serviceModel>
</configuration>